<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="DefaultPort" value="14745"/>
    <add key="CDPPort" value="9222"/>
    <add key="AutoStart" value="false"/>
    <add key="MinimizeToTray" value="true"/>
  </appSettings>
</configuration>
